body {
  font-family: 'Indie Flower', 'Hi Melody', cursive;
  font-size: 20px;
  text-align: center;
  background-color: cornsilk;
}

h1 {
  margin-top: 3cm;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 60px;
}

input {
  border: 3px solid black;
  border-radius: 15px;
  padding: 2px 5px;
  margin: 0px 5px;
}

form {
  margin-bottom: 40px;
}

li {
  list-style: none;
}

.button {
  cursor: pointer;
}
